.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.profilebox{
    display:flex;
    height: 100px; 
    width: 75%;
    margin: 100px auto 0 auto;



}

.profiledetail{
    display:flex;
    align-content: center;
    margin: 20px;

}

.highlights{
    display:flex;
    align-content: center;
}